*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/pixelcut-export.jpeg);
    background-size: cover;
}
.body2{
    background: none;
}
#loading, #results {
    display: none;
  }
  #loading {
    width: 100%; 
}
.logo{
    font-size: 25px;
}
navbar{
    color: red;
}
.card-body{
    background-color: #939185;
}
.navbar{
    background-color: #2F3645;
}
.btn{
    background-color: #2F3645;
    border: none;
}
.btn:hover{
    background-color: #E6B9A6;
}
.guidelines{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}
.gain-weight{
    background-color: #2F3645;
    width: 50%;
}

